{% extends 'base.html' %}


{% block content %}
<div class="container" style="margin: 100px;">
    <div class="row justify-content-center" style="margin-top: 30px;">
        <div class="col-sm" align="center">
            <h2>Hello, welcome to the Hurricane Landfall App!</h1>
        </div>
    </div>
    <div class="row justify-content-center" style="margin-top: 30px;">
        <div class="col-sm" align="center">
            <p>To start, upload a data set in the HURDAT2 format. Then, you can view a report of all the hurricanes which made landfall in the geography that you uploaded.</p>
            <p><a class="btn btn-primary" href="{{ url_for('upload') }}">Upload Files</a></p>
        </div>
    </div>
</div>
{% endblock %}